{% extends "network/layout.html" %}

{% block body %}
 <div class="mt-2 ml-3">
        <h1 class="mb-4">Following Posts</h1>    

        <!-- Display existing posts -->
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="d-flex align-items-center">
                            <h5 class="card-title mb-0">{{ post.creator }}</h5>
                        </div>
                        <small class="text-muted">{{ post.date }}</small>
                    </div>
                    <p class="card-text">{{ post.post_text }}</p>
                </div>
            </div>
        {% endfor %}




    </div>
{% endblock %}
