{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <script>
        window.csrf_token = "{{ csrf_token }}";
    </script>
    <script src = "{% static 'network/follow.js' %}"></script>
    <div class="mt-2 ml-3">
        <h1 class="mb-4">{{ user_data.username }}</h1>

        <!-- Follow/Unfollow Button -->
        {% if request.user.is_authenticated and user_data != request.user %}
            {% if user_data not in request.user.subscriptions.all %}
                <button class="btn btn-primary btn-sm" id='follow' data-user-id="{{ user_data.id }}">Follow</button>
            {% else %}
                <button class="btn btn-danger btn-sm follow-btn" id='follow' data-user-id="{{ user_data.id }}">Unfollow</button>
            {% endif %}
        {% endif %}

        <!-- Number of Subscriptions and Followed Users -->
        <p id='subs'><strong>Subscriptions:</strong> {{ user_data.subscriptions.count }}</p>
        <p id='followsCount' data-initial-count="{{ user_data.subscribers.count }}"><strong>Followed Users:</strong> {{ user_data.subscribers.count }}</p>

        <!-- Display existing posts -->
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="d-flex align-items-center">
                            <h5 class="card-title mb-0">{{ post.creator }}</h5>
                            <!-- Follow/Unfollow button for each post -->
                        </div>
                        <small class="text-muted">{{ post.date }}</small>
                    </div>
                    <p class="card-text">{{ post.post_text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
